#  pam_radius_auth configuration file.
#
#  ** Managed by Ansible -- Do *not* edit manually **
#
#  For proper security, this file SHOULD have permissions 0600,
#  that is readable by root, and NO ONE else.  If anyone other than
#  root can read this file, then they can spoof responses from the server!
#
# server[:port]	shared_secret      timeout (s)

{% for rad_s in radius_servers %}
{{ rad_s['rad_server'] }}   {{ rad_s['rad_secret'] }}   3
{% endfor %}

# eof
